# Hugging Face Token (Obrigatório para modelos Pyannote)
# Obtenha em: https://huggingface.co/settings/tokens
HF_TOKEN=seu_token_aqui

# Configurações de Diarização (Pyannote)
# DIARIZATION_MODEL_ID=pyannote/speaker-diarization-community-1

# Configurações de Transcrição (WhisperX)
# WHISPER_MODEL_ID=large-v3
# WHISPER_BATCH_SIZE=4
# ALIGN_MODEL_LANGUAGE_CODE=pt
